body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  width: 320px;
  background-color: #333;
  color: #f8f9f0;
}

a {
  text-decoration: none;
  color: #ff4040;
}

@media screen and (max-device-width: 480px) {
  body {
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}

@media screen and (min-device-width: 481px) {
  body {
    margin: auto;
    margin-top: 32px;
    position: relative;
  }
}

#head div {
  overflow: hidden;
}

#head div img {
  width: 320px;
}

#head div:nth-child(1) {
  height: 186px;
}

#head div:nth-child(2) {
  height: 120px;
}

#head div:nth-child(2) img {
  margin-top: -186px;
}

#head div:nth-child(3) {
  height: 174px;
}

#head div:nth-child(3) img {
  margin-top: -306px;
}

#loading {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  background-color: #ff4040;
  color: #f8f9f0;
  right: 0;
}

.hidden {
  visibility: hidden;
}
